main {
  color: #111827;
  padding-bottom: 6rem;
}

main .navbar {
  background: #9b9c9e;
}

main form {
  display: none;
}

.videoContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 14rem;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.videoContainer img {
  position: relative;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.unique {
  padding: 2rem 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

main h2 {
  font-size: 1.3rem;
  color: #111827;
  font-weight: 700;
}

.release,
.genre {
  font-size: 0.9rem;
  color: #9ca3af;
}

.genre {
  display: flex;
}

.genre span {
  padding: 0.4rem 1.5rem;
  margin: 0 0.6rem;
  color: var(--accent);
  border: 2px solid #9ca3af;
  border-radius: 2rem;
}

.rating {
  display: flex;
  gap: 1rem;
}

.rating-icon {
  font-size: 1.2rem;
  margin: 0;
  color: rgb(240, 240, 8);
}

main .content {
  color: #111827;
  padding: 0 5rem;
  font-size: 1rem;
}

.others {
  color: #111827;
  padding-top: 2rem;
}

.others .btn {
  display: flex;
  gap: 2rem;
}

button {
  display: flex;
  background: var(--accent);
  color: var(--font-color);
  gap: 1.5rem;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
}

.details-icon {
  font-size: 1.2rem;
  color: var(--font-color);
}

@media screen and (max-width: 767px) {
  main {
    overflow: hidden;
  }

  .videoContainer {
    margin: 2rem auto;
    height: 20rem;
    width: 30rem;
    border-radius: 2rem;
  }

  .unique {
    display: flex;
    padding: 2rem 5rem;
  }

  .genre {
    margin-top: 1rem;
  }

  main h2 {
    font-size: 1.6rem;
  }

  .release,
  .genre {
    font-size: 1.2rem;
  }

  main .content {
    color: #111827;
    padding: 0 5rem;
    font-size: 1.5rem;
  }

  .others .btn {
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 1.6rem 1.25rem;
  }
}
